

.App {
  text-align: left;
  margin-left: 10%;
  margin-top: -1.5%;
  margin-bottom: -1.5%;
  color:aliceblue;
}

body{
  background-color: rgb(67, 59, 94);
}

.Parallax {
  background-image: url("arcane.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  cursor: pointer;
  border: 1px solid #667783;
  background-color: transparent;
  height: 50px;
  width: 500px;
  color: aliceblue;
  font-size: 1em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

a:link{text-decoration: none; color: aliceblue}
a:visited{text-decoration: none; color: aliceblue}
a:hover {text-decoration: none; color: aliceblue}
a:active{text-decoration: none; color: aliceblue}