
.App {
    text-align: left;
    margin-left: 10%;
    margin-top: -1.5%;
    margin-bottom: -1.5%;
    color:aliceblue;
  }
  
  body{
    background-color: rgb(67, 59, 94);
  }
  
  .Parallax {
    background-image: url("arcane.jpg");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .button {
    cursor: pointer;
    border: 1px solid #667783;
    background-color: transparent;
    height: 30px;
    width: 90px;
    color: aliceblue;
    font-size: 0.8em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  }